*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Coda Caption';
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-color: #ffee82;
  box-sizing: border-box;
}

.heading__main,
.foot {
  color: #fda403;
  border: 5px solid darkred;
}

.heading__main {
  font-size: 3.5rem;
  margin: 1rem 0;
}

.foot {
  font-size: 2rem;
  margin: 1rem 0;
}

main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.etch {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 14rem;
  max-height: 95vh;
  min-height: max-content;
  width: 55%;
  background-color: #b31313;
  border-radius: 3rem;
  box-shadow: 2rem 2rem 2rem black, 2rem 2rem 2rem #fda403,
    inset 2rem 2rem 2rem #d01e1e, inset -2rem -2rem 2rem #d01e1e;
  position: relative;
  border: 5px solid darkred;
}

.etch__container {
  margin: 0 auto;
  height: 70rem;
  width: 100%;
  background-color: black;
  z-index: 100;
  flex-grow: 0;
  overflow: hidden;
  display: grid;
  border-radius: 5rem;
  border: 5px solid darkred;
}

.etch__container > div {
  border: 1px solid #fda403;
  background-color: #ede29e;
  overflow: hidden;
}

.btn {
  position: absolute;
  bottom: 1rem;
  padding: 4rem;
  border-radius: 100%;
  box-shadow: 0.5rem 0.5rem 1rem black;
  outline: none;
  background-color: #fff6bd;
  border: 2px solid #ffee82;
  overflow: hidden;
  cursor: pointer;
  font-family: 'Coda Caption';
  color: #b31313;
  transition: all 0.5s;
}

.btn-left {
  left: 1rem;
}

.btn-right {
  right: 1rem;
}

.btn:hover {
  background-color: #fda403;
}

@media screen and (max-width: 1366px) {
  .etch {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .etch {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .etch {
    width: 98%;
    padding: 2rem 10rem;
  }

  html {
    font-size: 50%;
  }

  .btn {
    padding: 2rem;
  }
}

@media screen and (max-width: 568px) {
  html {
    font-size: 40%;
  }
}

@media screen and (max-width: 414px) {
  html {
    font-size: 30%;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 20%;
  }

  .btn {
    padding: 1rem;
    font-size: 3rem;
  }
}

@media screen and (max-width: 300px) {
  html {
    font-size: 15%;
  }

  .btn {
    padding: 0.5rem;
    font-size: 3rem;
  }
}
